*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    background-color:#F6F8F9;
    font-family:"Proxima Nova","Helvetica Neue",Helvetica,Arial,sans-serif
}

/* banner + logo */
#banner {
    height: 100px;
    width: 100%;
    background-color: white;
    display: flex;
	align-items: center;
    padding-left: 30px;
}
#logo {
    height: 70%;
    left: 30px;
}
#titolo {
    font-size: 50px;
    color: #061B36;
    font-weight: 800;
}
main {
    height: 100%;
    display: flex;
	align-items: center;
    color: #515050;
}
.container {
    background-color: #F6F8F9;
    height: 90%;
    width: 70%;
    margin: auto;
    position: relative;
}
#button-container {
    height: 10%;
    width: 100%;
    background-color: white;
    border-radius: 15px 15px 0 0;
}

/* pulsanti  */

#button-container {
    display: flex;
	align-items: center;
    padding-left: 60px;
}
.pulsanti {
    height: 40%;
    padding: 15px;
    text-align: center;
    margin-right: 10px;
    display: flex;
	align-items: center;
    border-radius: 8px;
}
#task-b {
    background-color:#47A9E8;
    border:solid #47A9E8;
    color: white;
}
#section-b {
    background-color: white;
    border: solid lightgrey;
    color: lightgrey;
}

/* lista */

#lista {
    height: 89%;
    width: 100%;
    background-color: white;
    border-radius:0 0 15px 15px;
    position: absolute;
    bottom: 0;
}
#lista-main {
    list-style-position: inside;
    list-style: none;
    margin-top: 40px;
    margin-left: 40px;
    font-size: 40px;
    font-weight: 800;
}
#lista-main>li {
    margin-bottom: 20px;
}
#lista-main>li:before {
    content: "▼";
    padding-left: 10px;
}
#lista-inside {
    list-style-position: inside;
    list-style: none;
    margin-top: 10px;
    margin-left: 50px;
    font-size: 20px;
    font-weight: 200;
}

#lista-inside>li {
    margin-bottom: 20px;
}
.check {
    display: inline-flex;
    align-items: center;
    text-align: center;
    width: 25px;
    height: 25px;
    border-radius:50% ;
    border: 2px solid;
    margin-right: 10px;
}
.check.on {
    color: green;
}
.check.off {
    color: red;
}
.tag {
    display: inline-block;
    padding: 4px 8px;
    margin-left: 10px;
    border-radius: 10px;
    font-size: 15px;
    color: white;
    font-size: 500;
}
.editorial {
    background-color:#47A9E8 ;
}
.q1-goals {
    background-color:#9C72E3 ;
}
.recruiting {
    background-color:#63BEA9;
}
.mobile {
    background-color:#F39C34;
}
.website {
    background-color:#D563A0;
}
.sales {
    background-color: #B1C729;
}
